# Directories #
bin/
target/
libs/
tmp/
node_modules/
 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
*.jar
*.war
*.ear
*.db
rebel.xml

######################
# NetBeans
######################
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml